<div id="form">
  <h2>Edit Profile</h2>
  {{#if currentUser.isJobseeker}}
    <form
      action="/userProfile/edit"
      method="POST"
      enctype="multipart/form-data"
    >

      <label>
        First Name
        <input type="text" value="{{currentUser.firstName}}" name="firstName" />
      </label><br /><br /><br /><br />
      <label>
        Last Name
        <input
          type="text"
          value="{{currentUser.lastName}}"
          name="lastName"
          placeholder="Last Name"
        />
      </label><br /><br /><br /><br />
      <label>Birthday</label>
      <input
        type="date"
        value="{{currentUser.dateOfBirth}}"
        name="dateOfBirth"
      />
      <br />
      <br />
      <br />
      <br />
      <label>
        About Me
        <input
          type="text"
          value="{{currentUser.aboutMe}}"
          name="aboutMe"
          placeholder="Describe yourself briefly"
        />
      </label><br /><br /><br /><br />
      <label>
        Professional Experience
        <input
          type="text"
          value="{{currentUser.professionalExperience}}"
          name="professionalExperience"
          placeholder="Past Jobs"
        />
      </label><br /><br /><br /><br />
      <label>
        CV
        <input type="file" value="{{currentUser.cv}}" name="cv" />
      </label><br /><br /><br /><br />

      <button type="submit">Save Details</button>
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}

    </form>

  {{else}}

    <form action="/userProfile/edit" method="POST">

      <label>
        Company Name
        <input
          type="companyName"
          value="{{currentUser.companyName}}"
          name="companyName"
          placeholder="Company Name"
        /></label>
      <br />
      <br /><br /><br />
      <label>
        Location
        <input
          type="companyLocation"
          value="{{currentUser.companyLocation}}"
          name="companyLocation"
          placeholder="Company Location"
        /></label>
      <br />
      <br /><br /><br />
      <label>
        Description
        <input
          type="companyDescription"
          value="{{currentUser.companyDescription}}"
          name="companyDescription"
          placeholder="Company Description"
        /></label>
      <br />
      <br /><br /><br />
      <label>
        Industry
        <input
          type="companyIndustry"
          value="{{currentUser.companyIndustry}}"
          name="companyIndustry"
          placeholder="Company Industry"
        />
      </label><br /><br /><br /><br />
      <label>
        Number of Employees
        <input
          type="companyNumberOfEmployees"
          value="{{currentUser.companyNumberOfEmployees}}"
          name="companyNumberOfEmployees"
          placeholder="0"
        /></label>
      <br />
      <br /><br /><br />
      <label>
        Contact Info
        <input
          type="companyContactInfo"
          value="{{currentUser.companyContactInfo}}"
          name="companyContactInfo"
          placeholder="Contact Info"
        /></label>
      <br />
      <br /><br /><br />

      <button type="submit">Save Details</button>
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}

    </form>

  {{/if}}

</div>